body{
    margin: 20px;
}
textarea{
    resize: none;
}


.img-responsive{
    margin: auto;
}
.dropzone > textarea{
    background: transparent;
    color: black;
    border: 0 none;
    text-align: center;
}
.dropzone > img{
    width: 50%;
    height: auto;
}
.dropzone > img:hover{
    border: dashed 4px darkgrey;
}
.dropzone > .form-control{
    width: 50%;
    font-size: 200%;
}
.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    border-color: #fff;
    border-style: solid;
  }
  
  .drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
  
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
  
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }
  
  .drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
  }